<section id="about">

  <div class="about-img">
    <img src="assets/images/ae.png" alt="">
  </div>

  <div class="me">
    <h3>Sobre mi</h3>
    <!--Sugerir que sea como un story line? Why not?--->
    <p>
      {{ site.bio }}

    </p>
    <!--Puede ser que esto sea mejorable-->
    <a href="#contact" class="btn-cta">
      ¡Trabajemos juntos!
    </a>

  </div>

</section>

<!--

<section id="polygom">
  <div class="polygom-wrap">
    <div class="polygom  doddles">
      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="min">
      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="super">
      <div class="color"></div>
      
      </div>
    </div>

</section>
-->