<section id="about">
  
    <div class="about-img">
      <img src="/assets/images/ae-about.png" alt="">
    </div>

    <div class="me">
      <h3>Sobre mi</h3>
      <p>
        Hola, me presento, mi nombre es Amanda, soy licenciada en Letras de la Universidad Católica Andrés
        Bello. Escribir siempre ha sido mi pasión, y no solo me refiero al ámbito creativo; también me dedico a crear
        contenido para las RRSS desde 2017, y para páginas webs desde 2018. He escrito de todo un poco, desde
        tecnología, hasta medicina y psicología infantil. Asimismo, me gusta investigar, estudiar el tema que estoy
        trabajando y escribir con la mayor fidelidad posible, es decir, siempre hago un estudio de vocabulario o
        terminología antes de realizar el trabajo.
      </p>
      <a href="#contact" class="btn-cta">
        ¡Escríbeme!
      </a>


    </div>







</section>

