<section id="about">

  <div class="about-img">
    <img src="/assets/images/ae-about.png" alt="">
  </div>

  <div class="me">
    <h3>Sobre mi</h3>
    <p>
      ¿Ratón de biblioteca? Es posible, tanto así que he vivido gran parte de mi vida con un libro debajo del brazo. Entonces quise hacer de la literatura mi vida y estudié letras en la Universidad Católica Andrés Bello. Luego de eso me encontré, de un golpe inesperado, con el marketing, entonces uní mi amor por escribir, con el amor por la tecnología y la comunicación, y me convertí en mi yo de ahora: Redactora de contenido, community manager, escritora por las noches y lectora ávida.
      <br>
       He escrito de todo un poco, desde
      tecnología, hasta medicina y psicología infantil. Asimismo, me gusta investigar, estudiar el tema que estoy
      trabajando y escribir con la mayor fidelidad posible, es decir, siempre hago un estudio de vocabulario o
      terminología antes de realizar el trabajo.
    </p>
    <a href="#contact" class="btn-cta">
      ¡Escríbeme!
    </a>

  </div>

</section>



<section id="polygom">
  <div class="polygom-wrap">
    <div class="polygom  doddles">
      <img src="assets/images/super-doddles.svg" alt="Amanda Escalona | Doddles" class="min">
      <img src="assets/images/super-doddles.svg" alt="Amanda Escalona | Doddles" class="super">
      <div class="color"></div>
      
      </div>
    </div>

</section>
