<section id="blog-body">
    <div class="tag-list">
        <ul>
            {% for tag in site.tags %}
                <li>
                    <a href="">
                        {{ tag[0]}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        
        
    </div>
    <div class="post-list">

        <ul>
            {% for post in site.posts %}
             {% if post.project == null %}
            <li class="wow fadeInLeft" data-wow-duration="1.5s">
                <a href="{{ site.url }}{{ post.url }}" >
                    <img src="assets/images/posts/{{post.image}}" alt="{{ page.alt }}">
                </a>
                <div class="card-content">
      
                    <br>
                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <p>{{ post.excerpt | slice: 0, 200}}</p>
                    <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Leer más</a>
                </div>

            </li>

             {% endif %}
            {% endfor %}
        </ul>
    </div>

</section>
