<section id="contact">
  <h3>Sigamos en contacto</h3>
  <div class="email">
    <img src="/assets/images/typewriter.svg" alt="Contactame para empezar un proyecto">

    <form action="">
      <p>Hola Amanda,</p>
      <p>
        Mi nombre es <input type="text" name="name" id="name" placeholder="Tu fantástico nombre" required>, y puedes escribirme a
        través de mi correo <input type="email" name="email" id="email" placeholder="correo@personal.meh" required>. Te escribo  porque:
      </p>
      <textarea name="issue" id="issue" cols="33rem" rows="3" required placeholder="tengo un proyecto genial que podríamos hacer juntos"></textarea>

      <input type="submit" value="¡Enviar!"  >
    </form>

</section>