<section class="header">
    <div class="header-text">
        <h3>Hi there!</h3>
        <h1 class="title-header">writer/</h1>
        <h1 class="title-header">copywriter</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, quaerat cum ex eaque cupiditate quae dolorem laborum ullam ipsa similique culpa rem velit porro, odit minus in, nihil quo repellendus!</p>
        <a href="#contact" class="main-button">Contact me!</a>
    </div>
    
        <img class="header-img" src="assets/images/1x/flower-header.png" alt="Amanda Escalona | writer - copywriter">
    
    
</section>
