<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="🦉🤓Nerd freelancer: Redactora de contenido, copy writer, community manager, escritora por las noches 🦇 y lectora ávida ⚡. ¡Lista para generar contenido persuasivo que aumente tus ventas!🖤">

<meta name="author" content="Amanda Escalona">

<meta content="theme-color" content="#292929">

<link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16">


<title>Amanda Escalona | {{ page.title }}</title>

<!-- Plugin CSS 
<link rel="stylesheet" href="css/animate.min.css" type="text/css">
-->

<!-- Flickity CSS -->
<link rel="stylesheet" href="assets/css/flickity.min.css" media="screen">
<!-- Custom CSS -->
<link rel="stylesheet" href="assets/css/main.css" type="text/css">


