<section id="corner">
  <div class="pallarax-wrap">
    <div class="corner doddles">
      <img src="assets/images/super-doddles.svg" alt="Amanda Escalona | Doddles" class="min">
      <img src="assets/images/super-doddles.svg" alt="Amanda Escalona | Doddles" class="super">
    </div>
    <div class="color"></div>
    <div class="corner gradient"></div>
  </div>
</section>
<section id="hero">
  <div class="welcome">
    <div class="col-left ">
      <h1 class="name">Amanda</h1>
      <h1>Escalona</h1>
      <h2>Escritora</h2>
      <a href="#about" class="btn-cta">¡Empecemos!</a>
    </div>
    <div class="col-right ">
      <img src="assets/images/ae.png" alt="Amanda Escalona | Escritora">
    </div>
  </div>
</section>