<section id="rectangle">
  <div class="rectangle-wrap">
    <div class="rectangle doddles">
       

      <img src="assets/images/DODDLES-RELOAD.svg" alt="Amanda Escalona | Doddles" class="super">
    
      <div class="color"> 

      </div>
 
      </div>
    </div>

</section> 
<section id="testimonials">
  <div class="gallery js-flickity" data-flickity='{ "wrapAround": true }'>
    <!-- mariano -->
    <div class="gallery-cell">
      <div class="left">
        <img src="assets/images/testimonials/mariano_puigvert.jpg" alt="Mariano Piugvert | CEO, Unity y Mediática">
      </div>

      <div class="right">
        <div class="right-head">
          <div>
            <h4>Mariano Puigvert </h4>
            <p class="testimonials-data">CEO, Unity y Mediática</p>
          </div>
          <span class="rrss">
            <a href="https://www.instagram.com/unitylatam/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="20" height="20">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #ede9d6;
                    }
                  </style>
                </defs>
                <title>Unity Latinoamérica</title>
                <path class="cls-1"
                  d="M24.81,0H11.19A11.2,11.2,0,0,0,0,11.19V24.81A11.2,11.2,0,0,0,11.19,36H24.81A11.2,11.2,0,0,0,36,24.81V11.19A11.2,11.2,0,0,0,24.81,0ZM34,24.81A9.2,9.2,0,0,1,24.81,34H11.19A9.2,9.2,0,0,1,2,24.81V11.19A9.2,9.2,0,0,1,11.19,2H24.81A9.2,9.2,0,0,1,34,11.19Z" />
                <path class="cls-1" d="M18,9a9,9,0,1,0,9,9A9,9,0,0,0,18,9Zm0,16a7,7,0,1,1,7-7A7,7,0,0,1,18,25Z" />
                <circle class="cls-1" cx="28" cy="8" r="2" />
              </svg>
            </a>
          </span>

        </div>
        <p><q>
            Amanda es responsable y en general, muy centrada en la obtención de resultados. Con ella tienes la
            garantía de que lo que solicitas, va a realizarse a tiempo y correctamente. Es alguien que siempre da
            buenos resultados y da lo mejor de sí.
          </q></p>
      </div>

    </div>
    <!-- Gaby -->
    <div class="gallery-cell">
      <div class="left">
        <img src="assets/images/testimonials/gabriela_reyes.jpg" alt="Gabriela Reyes | Diseñadora gráfica">
      </div>

      <div class="right">
        <div class="right-head">
          <div>
            <h4>Gabriela Reyes</h4>
            <p class="testimonials-data">Diseñadora gráfica</p>
          </div>
          <span class="rrss">
            <a href="https://www.instagram.com/gabyrdesign/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="20" height="20">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #ede9d6;
                    }
                  </style>
                </defs>
                <title>Grabriela Reyes Desings</title>
                <path class="cls-1"
                  d="M24.81,0H11.19A11.2,11.2,0,0,0,0,11.19V24.81A11.2,11.2,0,0,0,11.19,36H24.81A11.2,11.2,0,0,0,36,24.81V11.19A11.2,11.2,0,0,0,24.81,0ZM34,24.81A9.2,9.2,0,0,1,24.81,34H11.19A9.2,9.2,0,0,1,2,24.81V11.19A9.2,9.2,0,0,1,11.19,2H24.81A9.2,9.2,0,0,1,34,11.19Z" />
                <path class="cls-1" d="M18,9a9,9,0,1,0,9,9A9,9,0,0,0,18,9Zm0,16a7,7,0,1,1,7-7A7,7,0,0,1,18,25Z" />
                <circle class="cls-1" cx="28" cy="8" r="2" />
              </svg>
            </a>
          </span>

        </div>
        <p><q>
            Tuve la oportunidad de trabajar en equipo con Amanda durante un año. Es una persona profesional, ordenada
            y estructurada, pero principalmente eficiente. Siempre hace su parte del trabajo a tiempo y de manera
            efectiva para no atrasar el trabajo de los demás. Siempre cumple con su labor y da el 110% de sí misma.
          </q></p>
      </div>

    </div>
    <!-- Pao -->
    <div class="gallery-cell">
      <div class="left">
        <img src="assets/images/testimonials/paola-hernandez-crop.png" alt="Paola Hernández | Comunicadora Social">
      </div>

      <div class="right">
        <div class="right-head">
          <div>
            <h4>Paola Hernández</h4>
            <p class="testimonials-data">Comunicadora Social</p>
          </div>
          <span class="rrss">
            <a href="https://www.instagram.com/paolantonellacoms/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="20" height="20">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #ede9d6;
                    }
                  </style>
                </defs>
                <title>Pacoms | Paola Hernández</title>
                <path class="cls-1"
                  d="M24.81,0H11.19A11.2,11.2,0,0,0,0,11.19V24.81A11.2,11.2,0,0,0,11.19,36H24.81A11.2,11.2,0,0,0,36,24.81V11.19A11.2,11.2,0,0,0,24.81,0ZM34,24.81A9.2,9.2,0,0,1,24.81,34H11.19A9.2,9.2,0,0,1,2,24.81V11.19A9.2,9.2,0,0,1,11.19,2H24.81A9.2,9.2,0,0,1,34,11.19Z" />
                <path class="cls-1" d="M18,9a9,9,0,1,0,9,9A9,9,0,0,0,18,9Zm0,16a7,7,0,1,1,7-7A7,7,0,0,1,18,25Z" />
                <circle class="cls-1" cx="28" cy="8" r="2" />
              </svg>
            </a>
          </span>



        </div>
        <p><q>
            Amanda es una excelente profesional, durante los dos años que fuimos co-workers demostró sus destrezas
            técnicas cumpliendo con sus responsabilidades siempre a tiempo, así como también que es una gran escucha y
            a lo largo de su carrera ha ido desarrollando paciencia y comprensión ante los problemas que se le han
            presentado.
          </q></p>
      </div>

    </div>






</section>