<section class="testimonials">
    <img class="testimonials-img" src="assets/images/1x/flower-header.png" alt="Amanda Escalona | writer - copywriter">
    <img class="testimonials-wave" src="assets/images/abstract-wave.png" alt="Amanda Escalona | writer - copywriter">
    <h3 class="title-3">Testimonials</h3> 

    <div class="carrusel">
        
        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>

        <div class="slides">
            <div id="slide-1" class="slides-content">
                <img class="slides-img" src="assets/images/testimonials/mariano_puigvert.jpg" alt="Mariano M. Puigvert">
                <div class="header-content">
                    
                    <p class="h">Mariano M. Puigvert</p>
                    <span>CEO Unity</span>
                    <p>"Amanda es responsable y en general, muy centrada en la obtención de resultados. Con ella tienes la garantía de que lo que solicitas, va a realizarse a tiempo y correctamente. Es alguien que siempre da buenos resultados y da lo mejor de sí"</p>
                </div>
            </div>
            <div id="slide-2" class="slides-content">
                <img class="slides-img" src="assets/images/testimonials/gabriela_reyes.jpg" alt="Gabriela Reyes">
                <div class="header-content">
                    
                    <p class="h">Gabriela Reyes</p>
                    <span>Graphic Designer | Freelancer</span>
                    <p>"Tuve la oportunidad de trabajar en equipo con Amanda durante varios meses. Es una persona profesional, ordenada y estructurada, pero principalmente eficiente. Siempre hace su parte del trabajo a tiempo y de manera efectiva para no atrasar el trabajo de los demás. Siempre cumple con su labor y da el 110% de sí misma." </p>
                </div>

                
                
            </div>
            <div id="slide-3" class="slides-content">
                <img class="slides-img" src="assets/images/testimonials/paola_hernandez.jpg" alt="Paola Hernández">
                <div class="header-content">
                    
                    <p class="h">Paola Hernández</p>
                    <span>Graphic designer and comunity manager</span>
                    <p>"Amanda es una excelente profesional, durante el tiempo que fuimos co-workers demostró sus destrezas técnicas cumpliendo con sus responsabilidades siempre a tiempo, así como también que es una gran escucha y a lo largo de su carrera ha ido desarrollando paciencia y comprensión ante los problemas que se le han presentado"</p>
                </div>
                
                
            </div>
        </div>
    </div>

</section>