
/*
-----------------
----layout----
-----------------
*/
body{
  background: $light-primary;
  margin: 0;
  padding: 0;
  font-family: $title;
  margin-block: 0;
}

h2 {
  font-size: 4.5rem;
  color: $light-primary;
  line-height: 2.5rem;
  letter-spacing: .6rem;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
}

h3{
  font-size: 3rem;
  color: $red-second;
  letter-spacing: .5rem;
  text-align: center;
  text-transform: uppercase;
}

#post, #blog-body {
  margin: 5rem;
  background: $dark;
  padding: 2rem;
}

@media screen and (max-width: $tablet) {
  body{
    margin-top: 0.5rem;
  }

}
@media screen and (max-width: $phone) {
  body{
    margin-top: 0.5rem;
  }

}

/*
-----------------
--- parallax ----
-----------------
*/

.gradient {
  background: $red-second;
  background: linear-gradient(146deg, rgba(41, 41, 41, 0.6) 0%, rgba(197, 2, 2, 0.5) 85%);
  mix-blend-mode: hard-light;
  z-index: -1;
}
.doddles {
  background: $red-primary;
  z-index: -1;
  .super{
    visibility: visible;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 135vw;
    top: -12%;
    left: -4%;
    -webkit-transform: translate(-505, -50%);
    transform: translate(-505, -50%);
  }
  .min{
    //display: none;
    visibility: hidden;

  }
  
}

@media screen and (max-width: $tablet) {
  .super{
    visibility: visible;
  }
  .min{
    visibility: hidden;
  }
}


/*
-----------------
----bottons----
-----------------
*/
.btn-cta{
  font-family: $title;
  text-align: center;
  padding: 2rem;
  color: $light-primary;
  background: $darkest;
  text-decoration: none;
  letter-spacing: .2rem;
  font-size: 1.5rem;

  &:hover{
    padding: 2.5rem;
    color: $light-primary;
    background: $red-primary;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 2rem;
  }

}

/*
-----------------
----scrollbar----
-----------------
*/

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darkest;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red-primary;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}