

/*
-----------------
----contact------
-----------------
*/

#contact {
  height: 100%;
  padding: 5rem;
  padding-bottom: 2rem;

  .email {
    display: flex;
    justify-content: space-around;
    line-height: 1.5rem;
    align-content: center;
    justify-items: center;
    justify-content: center;
    padding: 4rem;
    background: $dark;

    img {
      margin-left: 2rem;
      height: 25rem;
      width: auto;
    }

    .form {
      width: 50%;
      text-align: justify;
      padding: 2rem;
      margin-left: 1.5rem;
      background: $light-primary;

      p {
        line-height: 1.5rem;
        text-align: justify;
      }

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
      }

      input,
      textarea {
        font-family: $title;
        color: $red-second;
        font-weight: 900;
        width: 100%;
        outline: none;
        background: $light-second;
        font-size: 1rem;
        border: .2rem solid $dark;
        text-align: center;
        resize: none;
        padding: .5rem;
        margin-top: .5rem;
      }
      
      button {
        width: 100%;
        padding: 1rem;
        color: $light-primary;
        background: $red-second;
        border: none;
        margin: 1rem;

        &:hover {
          color: $red-primary;
          background: $darkest;

        }
      }
    }

  }
}

@media screen and (max-width: $tablet) {
  #contact {
    background: none;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;

    .email {
      padding: 0;

      .form {
        width: 100%;

        form {
          display: flex;
          flex-flow: column;

          input,
          textarea {
            font-size: 1.5rem;
            display: block;
            width: 100%;
            padding: 1rem 0;
            margin-bottom: 1rem;

          }
        }
      }

      p {
        font-size: 1.5rem;
      }

      img {
        visibility: hidden;
        display: none;
      }
    }

  }

  #rectangle {
    position: relative;
    z-index: -3;

    .rectangle-wrap {
      height: 80vh;
      width: 100%;
      position: absolute;
    }
  }
}