

/*
-----------------
------ footer----
-----------------
*/

footer {
  position: relative;

  height: 12vh;
  background-color: $red-primary;
  color: $light-primary;

  p {
    margin-block-start: 0;
    padding-top: 1.5rem;
    text-align: center;

  }
}


@media screen and (max-width: $tablet) {
  footer{
    height: 25vh;
  }
  #polygom  {
    z-index: -1;

    .polygom -wrap {
      height: 85vh;
      width: 100%;
      position: absolute;
      top: 211%;

      .polygom  {
        position: absolute;
        -webkit-mask-image: url("../images/arrow-path-2.svg");
        -webkit-mask-size: cover;
        mask-image: url("../images/arrow-path-2.svg");
        mask-size: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}