/*
-----------------
-----header------
-----------------
*/


.header{
    color: $light;
    background: $nero;
    background: linear-gradient(0deg, rgba(41,41,41,1) 0%, rgba(27,27,27,1) 100%);
  
    h1  {
      color: $main-red;
      font-size: 5rem;
      font-style: italic;
      font-weight: 700;
      line-height: 0rem;
      letter-spacing: 5px;
      
    }
  
    h3 {
      color: $light;
      font-size: 3rem;
      line-height: 0rem;
     
    }
  
    p {
      font-size: 2rem;
    }
  
  }
  
  
  .header-img{
    padding-left: 3rem;
    max-height: 35rem;
    max-width: auto;
    
  }