/*
-----------------
--hero parallax--
-----------------
*/
.pallarax-wrap {
  height: 150%;
  width: 100%;
  position: absolute;
  z-index: -1;


  .corner {
    position: absolute;
    -webkit-mask-image: url("../images/hero-def.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/hero-def.svg");
    mask-size: cover;
    height: 90%;
    width: 100%;
  }


}
@media screen and (max-width: $tablet) {
  .pallarax-wrap{
    width: 100%;
    .corner{
      height: 30%;
      width: 100%;
    }
  }
}

/*
-----------------
------hero-------
-----------------
*/
#hero {
  height: 105vh;
  width: 100%;
  position: relative;
}

.welcome {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  z-index: 3;

  .col-left {
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;

    h1 {
      font-size: 6rem;

      color: $light-primary;
      line-height: .5rem;
      letter-spacing: .1rem;
    }

    .name {
      font-size: 7rem;
      letter-spacing: .6rem;
    }

    h2 {
      font-size: 4.5rem;
      color: $light-primary;
      line-height: 2.5rem;
      letter-spacing: .6rem;
      margin-bottom: 4.5rem;
    }
  }

  .col-right {
    padding-left: 5rem;

    img {
      width: 95%;
    }
  }
}

@media screen and (max-width: $tablet) {
  #hero {
    height: 75vh;
    
  }

  .welcome {
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    height: 70vh;

    .col-left {
      padding: 0;
      

      h1 {
        font-size: 5rem;
        letter-spacing: .1rem;
        color: $red-second;
      }

      .name {
        font-size: 6rem;
        letter-spacing: .6rem;
        color: $red-second;
      }

      h2 {
        font-size: 4rem;
        letter-spacing: .4rem;
        color: $red-second;
      }


    }

    .col-right {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        align-self: center;
        justify-self: center;
      }
    }
  }
}