/*
-----------------
------hero-------
-----------------
*/
#hero{
  height: 100vh;
}
#intro {
  padding-top: 4.5rem;


}

#hello {
  flex-direction: column;

  h1:nth-child(1) {
    letter-spacing: 1.75rem;
    line-height: 6rem;
    font-size: 6rem;
    margin: 0;
  }

  h1:nth-child(2){
    font-size: 5rem;
    letter-spacing: 1rem;
    margin: 0;
  }

  h2:nth-child(3) {
    font-size: $size-7;
    line-height: $size-9;
    letter-spacing: 1rem;
    margin: 3rem 0 0 0;
    text-transform: capitalize;
  }

  h2:nth-child(4) {
    font-size: $size-7;
    line-height: $size-9; 
    margin: 0 0 3rem 0;
    text-transform: capitalize;
  }
}

#amanda-intro {
  height: 35em;
  width: auto;
}

/*
#hero {
  height: 100%;
  width: 100%; 
}

.welcome {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  z-index: 3;

  .col-left {
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;

    h1 {
      font-size: 6rem;

      color: $light-primary;
      line-height: .5rem;
      letter-spacing: .1rem;
    }

    .name {
      font-size: 7rem;
      letter-spacing: .6rem;
    }

    h2 {
      font-size: 4.5rem;
      color: $light-primary;
      line-height: 2.5rem;
      letter-spacing: .6rem;
      margin-bottom: 4.5rem;
    }
  }

  .col-right {
    padding-left: 5rem;

    img {
      width: 95%;
    }
  }
}

@media screen and (max-width: $tablet) {
  #hero {
    height: 100%;
    padding-top: 10vh;
    
  }

  .welcome {
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    height: 70vh;

    .col-left {
      padding: 0;
      

      h1 {
        font-size: 5rem;
        letter-spacing: .1rem;
        color: $red-second;
      }

      .name {
        font-size: 6rem;
        letter-spacing: .6rem;
        color: $red-second;
      }

      h2 {
        font-size: 4rem;
        letter-spacing: .4rem;
        color: $red-second;
      }


    }

    .col-right {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
**/