/*
-----------------
----last post----
-----------------
*/

#last-post{
  background: $dark;

  h3{
    color: $red-primary;
    font-weight: $weight-bold;
  }
}


.post-card{
  background: $light-primary;
  padding: 1rem 1rem 2rem 1rem;
  
  a{
    text-decoration: none;  
    color: $red-primary;
    text-align: center;
   img{
    display: relative;
    width: auto;
    height: 8rem;  
    text-decoration: none;
    color: $dark;
  }
}
}

@media screen and (max-width: $tablet){
  #last-post{
    .row {
      flex-wrap: wrap;
    }
  }
}