/*
-----------------
----last post----
-----------------
*/

#last-post{
  background: $dark;

  h3{
    color: $red-primary;
    font-weight: $weight-bold;
  }
}


.post-card{
  background: $light-primary;
  padding: 1rem 1.5rem 3rem 1.5rem;
  
  a img{
    display: relative;
    width: auto;
    height: 8rem;  
  }
}

@media screen and (max-width: $tablet){
  #last-post{
    .row {
      flex-wrap: wrap;
    }
  }
}