/*
-----------------
-----navbar------
-----------------
*/

.brand {
  position: fixed;
  margin-left: 5rem;
  font-weight: 900;
  font-size: 4rem;
  background: $dark;
  padding: 1.5rem;
  z-index: 10;
  top: 0;


  a {
    color: $red-primary;
    text-decoration: none;
  }
}

.navbar {
  position: fixed;
  right: 2.5rem;
  text-transform: uppercase;
  z-index: 10;
  top: 0;

  ul {
    list-style: none;
    background: $dark;
    width: 100%;
    margin-block-start: 0;

    li {
      display: inline-block;
      padding: 1.5rem;

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
      }

      &:hover {
        background: $red-primary;
        font-weight: 900;

        a {
          color: $dark;

        }
      }
    }

    .nav-links {
      text-decoration: none;
      color: $light-primary;
      text-justify: center;

    }

    .hireme {
      color: $red-primary;
      font-weight: 900;
    }


  }

  ul .nav-brand {
    display: none;

  }
}


.networks {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;


  display: flex;
  background: $red-primary;
  justify-content: center;
  align-items: center;

  a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15% 1rem;
    color: $light-primary;

    &:hover {
      background: $dark;
      height: 100px;
      width: 100%;
    }
  }

  img {
    width: 2rem;
  }


}


@media screen and (max-width: $tablet) {
  .brand {
    display: none;
  }

  .navbar {
    display: inline-block;
    right: 0;
    width: 100%;
    justify-content: end;

    .nav-links {
      padding: 1;
      font-size: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }

    li {
      display: inline-block;
      padding: .5rem;

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: .5rem;
      }
    }

    ul .nav-brand {
      display: inline;
      cursor: pointer;

      .brand-link {
        color: $red-primary;
        font-weight: 900;
        font-size: 2.5rem;
        padding: 2rem 0;
      }
    }
  }

  .rrss {
    cursor: pointer;
  }
}

@media screen and (max-width: $phone) {

//hamburger menu pendiente 


  .brand {
    display: none;
  }

  .navbar {
    display: inline-block;
    right: 0;
    width: 100%;
    justify-content: end;

    .nav-links {
      padding: 1;
      font-size: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }

    li {
      display: inline-block;
      padding: .5rem;

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: .5rem;
      }
    }

    ul .nav-brand {
      display: inline;
      cursor: pointer;

      .brand-link {
        color: $red-primary;
        font-weight: 900;
        font-size: 2.5rem;
        padding: 2rem 0;
      }
    }
  }

  .networks {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;


    width: 100%;

    ul {
      margin-block: 0;
      padding-right: 1rem;
      justify-content: center;
    }
  }

  .rrss {
    cursor: pointer;
    
  }

}