/*
-----------------
-----project-----
-----------------
*/
.projects{
  
    h3  {
      color: $main-red;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0rem;
    }
    p{
      color: $nero;
      font-size: 2rem;
      text-align: justify;
    }
    a{
      align-self: flex-end;
    }
  
    img{
      flex-grow: 1;
      max-width: 25rem;
  
    }
  }
  .descripton{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
  
    
  }
  