
/*
-----------------
---testimonial---
-----------------
*/
.testimonials{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .carrusel {
    width: 700px ;
    text-align: center;
    overflow: hidden;
   
  
     a {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
  
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 0 0.5rem 0;
      position: relative;
      background-color: $nero;
      color: $light;
      transition: 1s hover;
      
    }
     a:active {
      top: 1px;
    }
    a:hover{
      width: 2rem;
      height: 2rem;
    }
     a:focus {
      background: $main-red;
      color: $light;
    }
    
  
  }
  .slides {
      display: flex;
      
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      
      
      
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
  
  
      &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: $main-red;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
  
      //contenedor
      & > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        //700px h-400px
        width: 50vw;
        height: 50vh;
        margin-right: 50px;
        border-color: $nero;
        border-radius: 10px;
        border-style: none solid solid none;
    
        
        background: $light;
        color: $nero;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      * {
        box-sizing: border-box;
      }
      
      .slider {
        width: 300px;
        text-align: center;
        overflow: hidden;
      }
      
      .slides {
        display: flex;
        
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        
        
        
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        
        /*
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        */
      }
      .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      .slides::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
      .slides::-webkit-scrollbar-track {
        background: transparent;
      }
      .slides > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 300px;
        height: 300px;
        margin-right: 50px;
        border-radius: 10px;
        background: $light;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
      }
     
      .author-info {
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 0.75rem; 
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
      }
      .author-info a {
        color: white;
      }
      -img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  
  }
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  
  
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: $main-red;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: $light;
  }
  
  .slides-content{
    display: flex;
    padding: 3rem;
    
    .slides-img{
      width: 10rem;
      
      border-radius: 10px;
      
    }
    .header-content{
      margin-left: 2rem;
    }
    .h {
      font-family: $enfasis-font;
      font-size: 3vh;
      color: $main-red;
      line-height: 1rem;
      text-align: center;
    }
    span{
      font-size: 1em;
      font-weight: bold;
      line-height: 1rem;
      
    }
    p{
      text-align: justify;
    }
  }